<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boss Battle</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/boss-battle.js}"></script>

</head>
<body>
<div style="height: auto; border-style: ridge; margin: 5px" id="actionPart">
    <div class="row align-items-center" style="margin: 10px">
        <div class="col-sm-3">
            <h5>Your Stats</h5>
            <h5 th:text="'Health : ' + ${knightStats?.getCurrentHealth()} + '/' + ${knightStats?.getMaxHealth()}"></h5>
            <h5 th:text="'Mana : ' + ${knightStats?.getCurrentMana()} + '/' + ${knightStats?.getMaxMana()}"></h5>
            <h5 th:text="'Exp. : ' + ${knightStats?.getExperience()}"></h5>
        </div>

        <div class="col-sm-6" align="center">
            <div>
                <img th:src="@{/img/boss.png}" alt="boss" class="img-fluid"/>
            </div>
            <div style="padding-top: 10px">
                <button class="btn btn-primary" onclick="attack()">Attack</button>
                <button class="btn btn-secondary" onclick="defend()">Defend</button>
                <button class="btn btn-info" onclick="skill()">Skill</button>
                <a href="/menu/"><button class="btn btn-warning">Run</button></a>
            </div>
        </div>

        <div class="col-sm-3">
            <h5>Boss Stats</h5>
            <h5 th:text="'Health : ' + ${bossStats?.getCurrentHealth()} + '/' + ${bossStats?.getMaxHealth()}"></h5>
            <h5 th:text="'Level : ' + ${bossStats?.getLevel()}"></h5>

        </div>
    </div>
    <div style="margin-left: 5px">
        <h5>Battle Log:</h5>
        <h6 th:text=${knightLog}></h6>
        <h6 th:text=${bossLog}></h6>
    </div>
</div>

<table class="table table-hover" style="margin 5px; width: 700px; font-size: 14px">
    <thead>
        <tr>
            <th>Knight name</th>
            <th>Knight class</th>
            <th>Weapon</th>
            <th>Armor</th>
            <th>Skill</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${knight?.getName()} != '' ? ${knight?.getName()} : 'No name'"></td>
            <td th:text="${knight?.getKnightClass()} != null ? ${knight?.getKnightClass()} : 'No class'"></td>
            <td th:text="${knight?.getWeapon()} != null ? ${knight?.getWeapon().getName()} : 'No weapon'"></td>
            <td th:text="${knight?.getArmor()} != null ? ${knight?.getArmor().getName()} : 'No armor'"></td>
            <td th:text="${knight?.getSkill()} != null ? ${knight?.getSkill().getName()} : 'No skill'"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
