<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "col text-center" style="position:absolute; top:10%">
    <p style="font-size: 3.0rem;letter-spacing: 0.2rem; text-shadow: .12rem .1rem .15rem black;">In memory of the brave knights of the past</p>
    <div class = "history-record text-center container" style = "font-size: 1.0rem; letter-spacing: 0.1rem;">
        <h5 align="center">Name - Status - Boss Level</h5>
        <p align="center" th:each="i : ${history}" th:text="${i[0]} + ' - ' + ${i[1]} + ' - ' + ${i[2]}"></p>
    </div>
</div>
</body>
</html>
