<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>

    <script
            src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
            crossorigin="anonymous"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <h5 style="text-align: right; padding: 5px" th:text="'Exp : ' + ${knightStats?.getExperience()}"></h5>

        <div class="text-center" style="padding-bottom: 20px">
            <h5 th:text="${knight?.getName()} != null ? 'Name : ' +  ${knight?.getName()} : 'Name : No name'"></h5>
            <h5 th:text="${knight?.getKnightClass()} != null ? 'Class : ' +  ${knight?.getKnightClass()} : 'Class : No class'"></h5>
        </div>
        <table class="table table-hover" style="width: 500px; margin-left:auto; margin-right:auto;">
            <thead>
            <tr>
                <th style="text-align: center; width: auto;" >Equipment</th>
                <th style="text-align: center">Upgrade</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${weapon} != null ? ${weapon?.getName()} : 'No weapon'"></td>
                <td align="center">
                    <a href="/shop/upgrade/weapon/dark/">
                        <button class="btn btn-dark border">Dark Upgrade</button>
                    </a>

                    <a href="/shop/upgrade/weapon/light/">
                        <button class="btn btn-light border">Light Upgrade</button>
                    </a>
                </td>
            </tr>

            <tr>
                <td th:text="${armor} != null ? ${armor?.getName()} : 'No armor'"></td>
                <td align="center">
                    <a href="/shop/upgrade/armor/dark/">
                        <button class="btn btn-dark border">Dark Upgrade</button>
                    </a>

                    <a href="/shop/upgrade/armor/light/">
                        <button class="btn btn-light border">Light Upgrade</button>
                    </a>
                </td>
            </tr>

            <tr>
                <td th:text="${skill} != null ? ${skill?.getName()} : 'No skill'"></td>
                <td align="center">
                    <a href="/shop/upgrade/skill/dark/">
                        <button class="btn btn-dark border">Dark Upgrade</button>
                    </a>

                    <a href="/shop/upgrade/skill/light/">
                        <button class="btn btn-light border">Light Upgrade</button>
                    </a>
                </td>
            </tr>

            <tr>
                <td>Max Health</td>
                <td align="center">
                    <a href="/shop/upgrade/health/">
                        <button class="btn btn-outline-danger">Upgrade</button>
                    </a>
                </td>
            </tr>

            <tr>
                <td>Max Mana</td>
                <td align="center">
                    <a href="/shop/upgrade/mana/">
                        <button class="btn btn-outline-primary">Upgrade</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <p><strong>Upgrade cost : 50 Exp.</strong></p>
            <a href="/menu/"><button style="width: 60px; margin-top: 25px" class="btn btn-warning">Back</button></a>
        </div>
    </div>

</body>
</html>