<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    <script
            src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
            crossorigin="anonymous"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container" align="center" style="left: 50%; top: 45%; position: absolute;  transform: translate(-50%, -55%);">
        <h1>Stats</h1>
        <div class="row justify-content-center">
            <p class="h3 d-flex justify-content-center" th:text="${knight?.getName()} != null ? 'Knight name : ' +  ${knight?.getName()} : 'Knight name : ' + 'No name'">
            </p>
        </div>
        <div class="row justify-content-center">
            <p class="h3 d-flex justify-content-center" th:text="${knight?.getKnightClass()} != null ? 'Knight class : ' +  ${knight?.getKnightClass()} : 'Knight class : ' + 'No class'">
            </p>
        </div>
        <div class="row justify-content-center">
            <p class="h3 d-flex justify-content-center" th:text="'EXP : ' + ${knightStats?.getExperience()}">
            </p>
        </div>
        <div class="row justify-content-center">
            <p class="h4 d-flex justify-content-center" th:text="${weapon} != null ? 'Weapon : ' + ${weapon?.getName()} : 'Weapon : ' + 'No weapon'">
            </p>
        </div>
        <div class="row justify-content-center">
            <p class="h4 d-flex justify-content-center" th:text="${armor} != null ? 'Armor : ' +  ${armor?.getName()} : 'Armor : ' +  'No armor'">
            </p>
        </div>
        <div class="row justify-content-center">
            <p class="h4 d-flex justify-content-center" th:text="${skill} != null ? 'Skill : ' +  ${skill?.getName()} : 'Skill : ' +  'No skill'">
            </p>
        </div>
            <a href="/stats/change/"><button class="btn btn-secondary">Change Equipment</button></a><br>
            <a href="/menu/"><button style="width: 60px; margin-top: 25px" class="btn btn-warning">Back</button></a>
    </div>

</body>
</html>